<header>
  <div class="container">
    <a class="logo" href="#">HostAdvantage<fa-icon [icon]="server"></fa-icon></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/Rent">Rent a server<fa-icon [icon]="bolt"></fa-icon></a></li>
        <li><a href="#" routerLink="/Dashboard">Dashboard<fa-icon [icon]="home"></fa-icon></a></li>
        <div class="separator"></div>
        <li><a href="#" routerLink="/Login">Login<fa-icon [icon]="signin"></fa-icon></a></li>
      </ul>
    </nav>
  </div>  
</header>
 
<div class="container">
  <router-outlet></router-outlet>
</div>