<h1>Welcome!</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{clickCounter}} times.</p>
</div>

<div class="play-container">
        <input type="text" [(ngmodel)]="name">
        <br>
        <strong>You said: </strong> {{name}}
</div>

